* {
    box-sizing: border-box;
}

body {
    font-family: PrintClearly;
    /* background-color: #374047; */
    background-color: #181a18;
    color: white;
}

h1 {
    font-size: 3.5em;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2%;
    background-color: #181a18; /* #173f5f, #20639B*/
    color: white;
}

header > h1:hover {
    cursor: pointer;
    color: #e75367;
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 0 5%;
    cursor: default;
}

nav > a {
    color: white;
    display: inline;
    padding: 0 5%;
    text-decoration: none;
}

nav > a:hover {
    color: #e75367;
}

main {
    display: flex;
    justify-content: flex-start;
    margin: 10vh auto;
    max-width: 800px;
}

section {
    max-width: 800px;
}

section > h1 {
    border-bottom: 2px solid #f12e48;
    display: inline-block;
    line-height: 0.6;
}

@font-face {
    font-family: PrintClearly;
    src: url("assets/printclearly.otf") format("opentype");
}
