:root {
    --about: #e75367;
    --vibrant-about: #f12e48;
    --projects: #e6df67;
    --vibrant-projects: #f3eb4b;
    --contact: #75ccc0;
    --vibrant-contact: #79eede;
    --dark-gray: #181a18;
}

* {
    box-sizing: border-box;
}

body {
    font-family: PrintClearly;
    /* background-color: #374047; */
    background-color: var(--dark-gray);
    color: white;
}

.highlightAbout {
    color: var(--about);
}

/* header styles */

header h1 {
    font-size: 3.5em;
    font-weight: 500;
}

header {
    display: flex;
    font-family: PrintClearly;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 4vh 2% 0;
    background-color: var(--dark-gray); /* #173f5f, #20639B*/

}

header > a {
    color: white;
    text-decoration: none;
}

header > a::before {
    position: absolute;
    content: attr(data-content);
    font-size: 3.5em;
    font-weight: 500;
    background-color: var(--dark-gray);
    color: var(--about);
    opacity: 1;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    transition: clip-path 75ms ease-out;
}

header > a:hover::before {
    display: show;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 0 5%;
    cursor: default;
}

nav > a {
    color: white;
    display: inline;
    padding: 0 5%;
    text-decoration: none;
}

nav > a::before {
    position: absolute;
    content: attr(data-content);
    color: var(--highlight-color);
    background-color: var(--dark-gray);
    opacity: 1;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    transition: clip-path 100ms ease-out;
}

nav > a:hover {
    color: white;
    /* display: none; */
    /* color: var(--about) */
}

nav > a:hover::before {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

/* body styles */

main {
    display: flex;
    flex-flow: column nowrap;
    font-family: ObjectSans;
    justify-content: flex-start;
    margin: 20vh auto;
    min-width: 60vw;
    max-width: 1000px;
}

main h1 {
    font-size: 2.5em;
}

/* about/home styles */

#about > h1 {
    /* border-bottom: 2px solid var(--vibrant-about); darker about color */
    display: inline-block;
    /* line-height: 0.9; */
}

#about h1:hover {
    cursor: default;
} 

/* projects styles */

#projects > h1 {
    border-bottom: 2px solid var(--vibrant-projects);
    display: inline-block;
    /* line-height: 0.8; */
}

.project-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-display > .project {
    min-width: 20%;
    height: 20vh;
    position: relative;
}

.project > h2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#little-village {
    border: 2px solid white;
    background-image: url("./assets/little-village.jpg");
}

#poke-battle {
    background-image: url("./assets/pokebattle.jpg");
}

/* contact styles */

#contact {
    font-family: ObjectSans;
}

#contact h1 {
    border-bottom: 2px solid var(--contact);
    display: inline-block;
}

#contact h1:hover {
    cursor: default;
} 

#contact ul {
    padding: 0 0 0 6%;
}

#contact li {
    margin: 3vh 0 0; 
    font-size: 1.5em;
}

#contact a {
    text-decoration: none;
    color: white;
} 

#contact a::before {
    position: absolute;
    content: attr(data-content);
    color: var(--vibrant-contact);
    background-color: var(--dark-gray);
    opacity: 1;
    clip-path: polygon(0 0, 0% 0, 0% 150%, 0% 150%);
    transition: clip-path 70ms ease-out;
}

#contact a:hover {
    cursor: pointer;
}

#contact a:hover::before {
    clip-path: polygon(0 0, 100% 0%, 100% 150%, 0 150%);
}

#home-list {
    margin:5% 0 0 20%;
}

@font-face {
    font-family: PrintClearly;
    src: url("assets/printclearly.otf") format("opentype");
}

@font-face {
    font-family: ObjectSans;
    src: url("assets/objectsans-regular.otf") format("opentype");
}